.contacts {
  padding: 0 0 64px;

  @media (min-width: $tablet-width) {
    padding: 0 0 100px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
  }
}

.contacts__first-wrapper {
  padding: 0 28px 30px;

  @media (min-width: $tablet-width) {
    padding: 0 126px 64px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.contacts__title {
  text-align: center;
  margin: 0 0 64px;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px;
  }
}

.contacts__subtitle {
  line-height: 1.19;
  margin: 0 0 34px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0 0 24px;
  }
}

.contacts__list {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 56px;
  }
}

.contacts__map {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.contacts__map iframe {
  border-radius: 40px;
}
