.link {
  text-decoration: none;

  &--accent {
    padding: 16px 82px;
    background-color: $accent_1;
    color: $white;
    border-radius: 40px;
    font-size: 20px;
    line-height: 1.15;

    &:hover {
      background-color: $accent_1_hov;
    }

    &:active {
      opacity: 0.6;
    }

    &:disabled {
      background-color: $shadow;
    }
  }
}
