.logo {
  display: block;
  position: absolute;
  top: 3%;
  left: 3%;
  transform: translate(-3%, -3%);
  z-index: 1;
}

.logo__img {
  @media (min-width: $tablet-width) {
    width: 130px;
    height: 60px;
  }
}
