$white: #fbfcfe;
$background: #f1f6fc;
$main-text: #000000;
$accent_1: #6a107a;
$accent_1_hov: #b22ec8;
$accent_2: #0f805d;
$accent_2_hov: #7bdb0a;
$error:  #ff8282;
$shadow: rgba(142, 152, 146, 0.7);
